<ul class="no-bullet external-links">
  <%= raw content_block("top_links", I18n.locale) %>
  <li>
    <%= link_to "Participación Ciudadana", "http://participacion.puertoreal.es", target: "_blank" %>
  </li>
</ul>
